@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(14, 46, 187, 0.05), rgba(0, 0, 0, 0.4)), url('./assets/building1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}